<!DOCTYPE html>
<html>
 
<body>
 <script>
  debugger;
   alert(window.location.href);
 
  function iframeDidLoad() {
    alert('Done');
   alert(window.location.href);
    var k = window.location.href.replace("https://generatepackagexml.herokuapp.com/home","").
   document.getElementById('myIframe').src="https://vinaypd2-dev-ed.my.salesforce-sites.com"+k;
}

 </script>
Home Page

<iframe id="myIframe" src="https://vinaypd2-dev-ed.my.salesforce-sites.com" width="100%" height="800px" title="W3Schools Free Online Web Tutorials" style="border:none;" onLoad="iframeDidLoad();">
</iframe>

</body>
</html>
