<!DOCTYPE html>
<html>
 
<body  onload="newElement()">
 <script>

 function newElement()
{
  var k = window.location.href.replace("https://generatepackagexml.herokuapp.com/home","");
 document.getElementById('myIframe').src="https://vinaypd2-dev-ed.my.salesforce-sites.com"+k;
}
  function iframeDidLoad() {
   if(!document.getElementById('myIframe').src.includes("code")){
    var k = window.location.href.replace("https://generatepackagexml.herokuapp.com/home","");
 //  document.getElementById('myIframe').src="https://vinaypd2-dev-ed.my.salesforce-sites.com"+k;
   }
}

 </script>


<iframe id="myIframe" src="" width="100%" height="800px" title="W3Schools Free Online Web Tutorials" style="border:none;" onLoad="iframeDidLoad();">
</iframe>

</body>
</html>
