<!DOCTYPE html>
<html>
  <head>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
   margin-top: 20%;
  margin-left: 40%;
  padding: 10px;
}

.button2 {background-color: #008CBA;} /* Blue */

</style>
</head>
<body>
<script>
function handleProdClick() {
         window.location.href = "https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9G9pzCUSkzZutZiJKq9najF4kafLclhQYe0hNDiwq3l5Dah6YsW2ehhquhIqBu.VcLYk6WTcohku_b2Sb&redirect_uri=https://generatepackagexml.herokuapp.com/home&response_type=code&state=production";
   }
  function handleSandboxClick() {
      window.location.href = "https://test.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9G9pzCUSkzZutZiJKq9najF4kafLclhQYe0hNDiwq3l5Dah6YsW2ehhquhIqBu.VcLYk6WTcohku_b2Sb&redirect_uri=https://generatepackagexml.herokuapp.com/home&response_type=code&state=sandbox";
  
}
</script>



<button class="button button2" onclick="handleProdClick()">Login to Production</button>
  <button class="button button2" onclick="handleSandboxClick()">Login to Sandbox</button>
</body>
</html>
