<!DOCTYPE html>
<html>
  <head>
<style>
.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  background-color:#2574A9;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

</style>
</head>
<body>
<script>
function handleProdClick() {
         window.location.href = "https://vinay9-dev-ed.my.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG95mg0lk4batjXalwtZ5yLu7Ip7gvuxBTlgnODzLtHnuw4j8WXQfhXcgH5X1PvD32LtbEqdqWi2S3Qd.AM&redirect_uri=https://generatepackagexml.herokuapp.com/home&response_type=code&state=production";
   }
  function handleSandboxClick() {
      window.location.href = "https://test.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG95mg0lk4batjXalwtZ5yLu7Ip7gvuxBTlgnODzLtHnuw4j8WXQfhXcgH5X1PvD32LtbEqdqWi2S3Qd.AM&redirect_uri=https://generatepackagexml.herokuapp.com/home&response_type=code&state=sandbox";
  
}
</script>

<div class="flex">
<div class="flex-item">
<button class="button" onclick="handleProdClick()">Login to Production</button>
  </div>
  <div class="flex-item">
  <button class="button" onclick="handleSandboxClick()">Login to salesforce with OAuth</button>
     </div>
  </div>
</body>
</html>
